{% extends 'layouts/layout.html'%}

{% block title %}
    {{user.username}}
{% endblock %}

{% block content %}
{% if page_obj.object_list%}
    {% if page_obj.has_previous or page_obj.has_next %}

    <nav aria-label="Page navigation example">
      <ul class="pagination">
          {%if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number }}">Прошлая</a></li>
          {% endif %}
          {%for pages_num in page_obj.paginator.num_pages|get_range%}
          {% if page_obj.number == pages_num%}
          <li class="page-item active"><a class="page-link" href="?page={{pages_num}}">{{pages_num}}</a></li>
          {%else%}
        <li class="page-item"><a class="page-link" href="?page={{pages_num}}">{{pages_num}}</a></li>
          {%endif%}
          {%endfor%}
          {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}" >Следующая</a></li>
          {% endif %}
      </ul>
    </nav>
    {%endif%}
    <br>

    {%for url in user_inactive_urls%}
        <div id = "url_profile_item" class="alert alert-info">
            Старая: <br>
            <a href="{{url.original_url}}"> {{url.original_url}}</a> <br>
            Новая: <br>
            <a href="{{url.new_short_url}}">{{url.new_short_url}}</a> <br>
            <a href="{%url 'urldelete_url' url.pk%}" class="btn btn-danger">Извлечь из архива</a>
        </div>
    {%endfor%}

{%else%}
    <br>
    <h2>Теперь тут ничего нет</h2><br>
        <a class="p-2 btn btn-outline-primary" href="{%url 'profile_url'%}">Вернуться в профиль</a>
    <br>

{%endif%}
    {% if page_obj.has_previous or page_obj.has_next %}
        <nav aria-label="Page navigation example">
          <ul class="pagination">
              {%if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number }}">Прошлая</a></li>
              {% endif %}
              {%for pages_num in page_obj.paginator.num_pages|get_range%}
              {% if page_obj.number == pages_num%}
              <li class="page-item active"><a class="page-link" href="?page={{pages_num}}">{{pages_num}}</a></li>
              {%else%}
            <li class="page-item"><a class="page-link" href="?page={{pages_num}}">{{pages_num}}</a></li>
              {%endif%}
              {%endfor%}
              {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}" >Следующая</a></li>
              {% endif %}
          </ul>
        </nav>
    {%endif%}

<br>
{% endblock %}
