{% extends 'layouts/layout.html'%}
{% load crispy_forms_tags %}
{% block title %}Войти{% endblock %}
{% block content %}
<br><br>

<div align="center">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

    <form method="post">
        {%csrf_token%}
        <p>{{form.username|as_crispy_field  }}</p>
        <p>{{form.password|as_crispy_field  }}</p>

        <div class="text-center">
            <input type="submit" class="btn btn-success" value="Войти!">
            <a class="btn btn-outline-primary" href="{%url 'password_reset'%}">Восстановить пароль</a><br><br>
            <a class="btn btn-outline-primary" href="{%url 'registration_url'%}">Нет аккаунта? Зарегистрироваться!</a>
            <a class="btn btn-link" href="{%url 'urlshortener_url'%}">Продолжить без регистрации</a>
        </div>
    </form>

</div>

<br><br>
{% endblock %}