{% extends 'layouts/layout.html'%}

{% block title %}
{{user.username}}
{% endblock %}


{% block content %}
<br>
<div>
    <img src="{{user.image.url}}" id="avatar_image">
    <h2>Имя: {{user.username}}</h2>
</div>
<h3><a href="{%url 'user_settings'%}">Настройки</a></h3>
<h3><a href="{%url 'hidden_urls_url'%} " >Архивные ссылки</a></h3>
<h2>Ваши сокращенные ссылки:</h2>
{% if page_obj.object_list%}

    {% if page_obj.has_previous or page_obj.has_next%}
        <nav aria-label="Page navigation example">
          <ul class="pagination">
              {%if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number }}">Прошлая</a></li>
              {% endif %}
              {%for pages_num in page_obj.paginator.num_pages|get_range%}
              {% if page_obj.number == pages_num%}
              <li class="page-item active"><a class="page-link" href="?page={{pages_num}}">{{pages_num}}</a></li>
              {%else%}
            <li class="page-item"><a class="page-link" href="?page={{pages_num}}">{{pages_num}}</a></li>
              {%endif%}
              {%endfor%}
              {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}" >Следующая</a></li>
              {% endif %}
          </ul>
        </nav>
    {%endif%}

    {%for url, elem_num_id in page_obj|zipping_with_its_length %}

        <div id = "url_profile_item" class="alert alert-info">
            Старая: <br>
            <a href="{{url.original_url}}"> {{url.original_url}}</a> <br>
            Новая: <br>
            <a id=elem_n_{{elem_num_id}} href="{{url.new_short_url}}">{{url.new_short_url}}</a>
            <button type="button" class="btn btn-outline-secondary btn-sm" id="button_{{elem_num_id}}" onclick="myFunction_{{elem_num_id}}()">Скопировать</button>
            <script>
            function myFunction_{{elem_num_id}}() {
              // получение элемента - ссылки
              var copyText = document.getElementById("elem_n_{{elem_num_id}}");

              // получение элемента - кнопки и изменение ее текста при копировании
              var button_copy=document.getElementById("button_{{elem_num_id}}");
              button_copy.innerHTML="Готово!";

              // копирование в буфер
              var copyText=copyText.getAttribute('href')
              var el = document.createElement('textarea');
              el.value = copyText;
              document.body.appendChild(el);
              el.select();
              document.execCommand('copy');
            }
            </script>
            <br>
            <a id="move_button" href="{%url 'urldelete_url' url.pk%}" class="btn btn-danger">Переместить в архив и дезактивировать</a>
            <a id="stat_button" href="{%url 'url_stat' url.pk%}" class="btn btn-danger">Статка</a>
        </div>

    {%endfor%}

    {% if page_obj.has_previous or page_obj.has_next %}
    <nav aria-label="Page navigation example">
      <ul class="pagination">
          {%if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number }}">Прошлая</a></li>
          {% endif %}
          {%for pages_num in page_obj.paginator.num_pages|get_range%}
          {% if page_obj.number == pages_num%}
          <li class="page-item active"><a class="page-link" href="?page={{pages_num}}">{{pages_num}}</a></li>
          {%else%}
        <li class="page-item"><a class="page-link" href="?page={{pages_num}}">{{pages_num}}</a></li>
          {%endif%}
          {%endfor%}
          {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}" >Следующая</a></li>
          {% endif %}
      </ul>
    </nav>
    {%endif%}

{%else%}
    <br>
    <h3>Тут пока ничего нет, но мы можем это исправить :)</h3>
    <h3><a href="{%url 'urlshortener_url'%}">Создать свою первую ссылку!</a></h3>

{%endif%}
{% endblock %}