body div.container{
    background-color:#f4f4f2;
}

footer{
    background-color:#495464;
    color: #e8e8e8;
}
a.ref-down{
    color:#bbbfca;
}
#top_menu{
    background-color:#e8e8e8;
}
form{
    max-width:50px;
}

#url_profile_item{
    word-wrap:break-word;
}

footer {
	flex: 0 0 auto;
	margin-bottom: 0px;
}
