body div.container{
    background-color:#f4f4f2;
}

footer{
    background-color:#495464;
    color: #e8e8e8;
}
a.ref-down{
    color:#bbbfca;
}
#top_menu{
    background-color:#e8e8e8;
}
form{
    max-width:700px;
    text-align:left;
}

#url_profile_item{
    word-wrap:break-word;
}

footer {
	flex: 0 0 auto;
	margin-bottom: 0px;
}

#move_button, #stat_button{
    margin-top:5px;
}

div button[class="btn btn-outline-secondary btn-sm"]{
    margin-left:3px;
}

#submit_button_avatar{
    margin-top:5px;

}
#avatar_add_form{
    padding-top:20px;
    margin-left:20px;
    margin-bottom:10px;
}
img {
    max-width:100px;
    max-height:100px;
}