{% extends 'layouts/layout.html'%}

{% block title %}Create New URL{% endblock %}

{% block content %}
<br>
{% if user.is_authenticated%}
{% else%}
<div class="alert alert-info">Если вы сокращаете ссылку без регистрации - в дальнейшем вы не сможете найти ее
    в личном кабинете и заново скопировать/посмотреть статистику</div>
{%endif%}
{%if prev_url%}
<div class="alert alert-success" id="prev_url_label">Готово: <br>
    <a href="{{prev_url}}">{{prev_url}}</a></div>
{%endif%}
<br>
<div>Введите новую ссылку в поле ниже и мы сократим ее!</div>
<form method="post">
    {%csrf_token%}
    {{form.user_original_url}}
    <br><br>
    <input type="submit" class="btn btn-success" value="Сократить!">
</form>
<!--<input id="your_name" type="text" name="your_name" maxlength="150" required>-->
{% endblock %}
</body>
</html>